################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mvcapp/Mvcapp/obj
/.vs
/Mvcapp/.vs/Mvcapp/v17
/Mvcapp/Mvcapp/bin/Debug/net5.0
/Mvcapp/.vs/Mvcapp/config
